{{/*
    Check $email if set otherwise prompt
*/}}
{{- $email := get . "email" -}}
{{- if not $email -}}
{{- $email = promptString "Email address to use as the git author" -}}
{{- end -}}

{{/*
    Check $full_name if set otherwise prompt
*/}}
{{- $full_name := get . "full_name" -}}
{{- if not $full_name -}}
{{- $full_name = promptString "Full name to use as the git author" -}}
{{- end -}}

[data]
    full_name = "{{ $full_name }}"
    email = "{{ $email }}"
